html {
  height: 100%;
}
body {
  padding-top: 0;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgba(220, 220, 215, 0.582);
  width: auto;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
#box {
  background-color: rgba(60, 60, 55, 0.582);
  border-radius: 10px;
  display: inline-flex;
  padding: 20px;
  flex-direction: column;
}

.topBox {
  width: auto;
}
.topBox input {
  width: 215px;
  height: 30px;
  border-radius: 3px;
  border: none;
}
.topBox button {
  height: 32px;
}
.bottomBox {
  margin-top: 5px;
}
.bottomBox input {
  width: 150px;
  height: 30px;
  border-radius: 3px;
  border: none;
}
/* #input {
  width: 150px;
  height: 30px;
  border-radius: 3px;
  border: none;
} */
.urlInput {
  border: none;
  border-radius: 3px;

  height: 35px;
  width: 390px;
}
.poisk {
  border: none;
  border-radius: 3px;

  height: 35px;
  width: 90px;
}

span {
  font-size: 18px;
}

/* #input {
  border-color: rgb(72, 72, 215);
  width: 100px;
} */

#found {
  border: none;
  border-radius: 3px;
  background-color: rgb(209, 87, 91);
  height: 35px;
  width: 60px;
}

#clear {
  border: none;
  border-radius: 3px;
  background-color: rgb(121, 121, 232);
  height: 35px;
  width: 90px;
}

#cm {
  font-size: 30px;
}

#changeMe {
  font-size: 40px;
  color: rgb(187, 18, 44);
}

@media screen and (max-width: 430px) {
  #cm {
    font-size: 25px;
  }
  #changeMe {
    font-size: 35px;
  }
}
.founted {
  padding: 0px;
  margin-top: 150px;
  border: none;
}
.footer {
  bottom: 0;
  text-align: center;
  margin: 0 auto;
}

.githubLogo {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 370px) {
  #cm {
    font-size: 22px;
  }
  #changeMe {
    font-size: 30px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}
